
<div class="navbar navbar-default navbar-fixed-top">
  
    <h2 class="h2">Hello {{ currentUser.user }}!</h2>
  
</div>

<div class="page-header"></div>

<div class="container">

  <div class="row">
  	<div class="col-md-2 select-box text-center">

  		<div *ngIf="showAll" class="active" (click)="clickAll()">All Stocks</div>
  		<div *ngIf="!showAll" (click)="clickAll()">All Stocks</div>

  		<div *ngIf="showFavorites" class="active" (click)="clickFav()">Favorite Stocks</div>
  		<div *ngIf="!showFavorites" (click)="clickFav()">Favorite Stocks</div>
  		<a class="btn btn-primary" id="logout" (click)="logout()">Logout</a>
  	</div>
    <div class="col-md-10 stock-box">
      	<div class="col-md-12 search-box text-center">
      		Search Bar: <input [(ngModel)]="searchText" placeholder="search text goes here">
      	</div>
        <div class="stocks-container">
        	
        	<ul *ngIf="showAll">
        		<li *ngFor="let obj of array | filter : searchText">
        			<div class="stock-item text-center">
        				<button *ngIf=obj.isFav value={{obj.identifier}} (click)="deleteFavorite($event.target.value)" class="btn btn-primary" id="btn-fav">Unfavorite</button>
        			
        				<button *ngIf=!obj.isFav value={{obj.identifier}} (click)="addToFavorites($event.target.value)" class="btn btn-success btn-fav" id="btn-fav">Favorite</button>
        				<div>
        					{{obj.identifier}}
        				</div>   
        				<div>
        					{{obj.name}}
        				</div>
        				<div>
        					{{obj.value}} 
        				</div>    
        			</div>
        		</li>
        	</ul>
        	<ul *ngIf="showFavorites">
	        	
	    		<li *ngFor="let obj of favorites | filter : searchText">
	    			<div class="stock-item text-center">
	    				<button value={{obj.identifier}} (click)="deleteFavorite($event.target.value)" class="btn btn-success" id="btn-fav">Delete</button>     
						<div>
	    					{{obj.identifier}}
	    				</div>   
	    				<div>
	    					{{obj.name}}
	    				</div>
	    				<div>
	    					{{obj.value}} 
	    				</div> 
		        	</div>
		        </li>
        	</ul>
        </div>
	</div>
  </div>
</div>