/* You can add global styles to this file, and also import other style files */
body{
	background-color: rgba(45,45,45,.7);
	color: white;
}

.stock-box {
	background-color: rgba(45,45,45,.8);
	height: 500px;
	padding: 0px !important;
	margin: 0px !important;
}

.select-box {
	background-color: rgba(45,45,45,1);
	height: 500px;
	padding-top: 24px;
}

.search-box {
	background-color: rgba(45,45,45,1);
	padding: 0px !important;
	margin: 0px !important;
}

.btn {
	border-radius: 0px !important;
}