/* You can add global styles to this file, and also import other style files */
body{
	background-color: rgba(45,45,45,.7);
	color: white;
}

.stock-box {
	background-color: rgba(45,45,45,.8);
	height: 500px;
	padding: 0px !important;
	margin: 0px !important;
}

.select-box {
	background-color: rgba(45,45,45,1);
	height: 500px;
	padding-top: 30px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.select-box div {
	height: 30px;
	width: 100%;

}

.select-box div:hover {
	background-color: rgba(70,70,70,1);
	cursor: pointer;
}

.search-box {
	background-color: rgba(45,45,45,1);
	padding: 0px !important;
	margin: 0px !important;
}

.stocks-container  {
	max-height: 460px;
	overflow-y: scroll;
}



.btn {
	border-radius: 0px !important;
}